<!DOCTYPE html>
<html>
<head>
    <title>Scraped Property Data</title>
</head>
<body>
    <h1>Scraped Property Data</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Area</th>
            <th>Description</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.area }}</td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
